<app-spinner *ngIf="!pageLoaded"></app-spinner>
<div class="container" *ngIf="pageLoaded">
    <div class="card table-wrapper shadow-lg">
      <div class="card-header table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Tablet status bekijken</b></h2>
          </div>
          
        </div>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">Tabletnaam</th>
            <th scope="col">Tabletcode</th>
            <th scope="col">Laatst online</th>
            <th scope="col">Batterijpercentage</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tablet of tablets">
            <td>{{tablet.tabletnaam}}</td>
            <td>{{tablet.tabletCode}}</td>
            <td [style.backgroundColor]="tablet.tijdKleur" style="color: antiquewhite;">{{tablet.laatstGeupdatet }}</td>
            <td [style.backgroundColor]="tablet.batterijKleur" style="color: antiquewhite;">{{tablet.batterijpercentage}}</td>
            
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
