<div class="container" *ngIf="pageLoaded">
  <div class="row mt-5">
    <div class="col-12">
      <h1>Evenementen beheren</h1>
      <button type="button" class="btn btn-primary float-right mb-5 mr-5" data-toggle="modal"
              data-target="#evenementModal"><i
        class="fa fa-plus"></i> Voeg evenement toe
      </button>

      <table class="table table-borderless table-hover">
        <thead>
        <tr>
          <th scope="col">Naam</th>
          <th scope="col">Startdatum</th>
          <th scope="col">Einddatum</th>
          <th scope="col">Actief</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let evenement of evenementen">
          <td>{{evenement.naam}}</td>
          <td>{{evenement.startdatum | date:'MM/dd/yyyy'}}</td>
          <td>{{evenement.einddatum | date:'MM/dd/yyyy'}}</td>
          <td>
            <div *ngIf="evenement.actief == 0">Niet Actief</div>
            <div *ngIf="evenement.actief == 1">Actief</div>
          </td>
          <td>
            <button (click)="onClickEditEvenement(evenement)"
                    routerLinkActive="router-link-active" type="button"
                    data-toggle="modal" data-target="#editEvenementModal"
                    class="btn btn-primary btn-circle mr-2"><i class="far fa-edit"></i></button>
            <button routerLinkActive="router-link-active" type="button"
                    data-toggle="modal" data-target="#toewijzenVerenigingModal"
                    class="btn btn-primary">Vereniging toewijzen
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="evenementModal" tabindex="-1" role="dialog" aria-labelledby="evenementModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Evenement toevoegen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="evenementForm" class="was-validated" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <label for="naam" class="col-form-label">Naam:</label>
            <input type="text" class="form-control" id="naam"
                   formControlName="naam" required>
          </div>
          <div class="form-group">
            <label for="startdatum" class="col-form-label">Begin datum:</label>
            <input type="date" class="form-control" id="startdatum"
                   formControlName="startdatum" required>
          </div>
          <div class="form-group">
            <label for="einddatum" class="col-form-label">Eind datum:</label>
            <input type="date" class="form-control" id="einddatum"
                   formControlName="einddatum" required>
          </div>
          <div class="form-group paddingcheck text-center">
            <div class="pretty p-default p-switch" (click)="changeActief()">
              <input type="checkbox"/>
              <div class="state p-primary">
                <label>Actief</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
          <button type="submit" class="btn btn-primary" onclick="$('.editEvenementModal').modal('hide')">Opslaan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editEvenementModal" tabindex="-1" role="dialog" aria-labelledby="evenementModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Evenement aanpassen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="evenementForm" class="was-validated" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <label for="naam" class="col-form-label">Naam:</label>
            <input type="text" class="form-control" id="naam"
                   formControlName="naam" required>
          </div>
          <div class="form-group">
            <label for="startdatum" class="col-form-label">Begin datum:</label>
            <input type="date" class="form-control" id="startdatum"
                   formControlName="startdatum" required>
          </div>
          <div class="form-group">
            <label for="einddatum" class="col-form-label">Eind datum:</label>
            <input type="date" class="form-control" id="einddatum"
                   formControlName="einddatum" required>
          </div>
          <div class="form-group paddingcheck text-center">
            <div class="pretty p-default p-switch" (click)="changeActief()">
              <input type="checkbox" id="actief" formControlName="actief" required/>
              <div class="state p-primary">
                <label>Actief</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
          <button (click)="updateEvenement()" class="btn btn-primary">Opslaan</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="toewijzenVerenigingModal" tabindex="-1" role="dialog"
     aria-labelledby="toewijzenVerenigingModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="toewijzenVerenigingModalLabel">Verenigingen toewijzen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="toewijzenVerenigingForm">
          <div class="form-group">
            <label for="vereniging">Vereniging</label>
            <select name="vereniging" id="vereniging" class="form-control" formControlName="vereniging"
                    (click)="changeVereniging()">
              <option *ngFor="let vereniging of verenigingen" [value]="vereniging.id">{{vereniging.naam}}</option>
            </select>
          </div>
          <button (click)="toewijzenVerenigingen()" class="btn btn-primary">Vereniging toevoegen</button>
          <h5>Toegewezen verenigingen</h5>
          <ul>
            <li *ngFor="let toegewezenVereniging of toegewezenVerenigingen">{{toegewezenVereniging.naam}}</li>
          </ul>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
      </div>
    </div>
  </div>
</div>
