<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="naam">Naam</label>
        <input type="text" id="naam" name="naam">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="roepnaam">Roepnaam</label>
        <input type="text" id="roepnaam" name="roepnaam">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="naam">Naam</label>
        <input type="text" id="naam" name="naam">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="straat">Straat</label>
        <input type="text" id="straat" name="straat">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="huisnummer">Huisnummer</label>
        <input type="text" id="huisnummer" name="huisnummer">
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="geboortedatum">Geboortedatum</label>
        <input type="text" id="geboortedatum" name="geboortedatum">
      </div>
    </div>
  </div>
</div>
