<div class="container" *ngIf="pageLoaded">
  <div class="card table-wrapper shadow-lg">
    <div class="card-header table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Tijdsregistraties beheren</h2>
        </div>
        <div class="col-sm-6">
          <a (click)="clearTijdsregistratieForm()" data-toggle="modal" data-target="#createTijdsregistratieModal"
             class="btn add-button mr-2"><i class="fas fa-plus-circle"></i> <span>Tijdsregistratie aanmaken</span></a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th scope="col">Lid</th>
              <th scope="col">Vereniging</th>
              <th scope="col">Evenement</th>
              <th scope="col">Check-in</th>
              <th scope="col">Check-out</th>
              <th scope="col">Manuele check-in</th>
              <th scope="col">Manuele check-out</th>
              <th scope="col">Aangepaste check-in</th>
              <th scope="col">Aangepaste check-out</th>
              <th class="acties">Acties</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tijdsregistratie of tijdsregistraties | paginate: { itemsPerPage: 10, currentPage: p }"
                data-toggle="modal" data-target="#verenigingModal">
              <td>{{tijdsregistratie.gebruiker.name}} {{tijdsregistratie.gebruiker.voornaam}}</td>
              <td>{{tijdsregistratie.vereniging.naam}}</td>
              <td>{{tijdsregistratie.evenement.naam}}</td>
              <td>{{tijdsregistratie.checkIn | date:'dd/MM/yyyy hh:mm'}}</td>
              <td>{{tijdsregistratie.checkUit | date:'dd/MM/yyyy hh:mm'}}</td>
              <td>{{tijdsregistratie.manCheckIn | date:'dd/MM/yyyy hh:mm'}}</td>
              <td>{{tijdsregistratie.manCheckUit | date:'dd/MM/yyyy hh:mm'}}</td>
              <td>{{tijdsregistratie.adminCheckIn | date:'dd/MM/yyyy hh:mm'}}</td>
              <td>{{tijdsregistratie.adminCheckUit | date:'dd/MM/yyyy hh:mm'}}</td>

              <td>
                <a (click)="onClickEditTijdsregistratie(tijdsregistratie)" routerLinkActive="router-link-active"
                   data-toggle="modal" data-target="#editTijdsregistratieModal"
                   class="edit"><i class="fas fa-pencil-alt"></i></a>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
        <div class="col-12 mt-2">
          <pagination-controls (pageChange)="p = $event" directionLinks="true" responsive="true" previousLabel="Vorige"
                               nextLabel="Volgende"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editTijdsregistratieModal" tabindex="-1" role="dialog"
     aria-labelledby="tijdsregistratieModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Tijdsregistratie aanpassen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="tijdsregistratieForm" class="was-validated" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <label for="gebruiker" class="col-form-label">Lid:</label>
            <input type="text" class="form-control" id="gebruiker" [(ngModel)]="gebruiker.name"
                   [ngModelOptions]="{standalone: true}" disabled>
          </div>
          <div class="form-group">
            <label for="vereniging" class="col-form-label">Vereniging:</label>
            <input type="text" class="form-control" id="vereniging" [(ngModel)]="vereniging.naam"
                   [ngModelOptions]="{standalone: true}" disabled>
          </div>
          <div class="form-group">
            <label for="evenement" class="col-form-label">Evenement: </label>
            <input type="text" class="form-control" id="evenement" [(ngModel)]="evenement.naam"
                   [ngModelOptions]="{standalone: true}" disabled>
          </div>
          <div class="form-group" *ngIf="tijdsregistratie.checkIn != null">
            <label for="checkIn" class="col-form-label">Check-in:</label>
            <input type="text" class="form-control" id="checkIn" formControlName="checkIn" disabled>
          </div>
          <div class="form-group" *ngIf="tijdsregistratie.checkUit != null">
            <label for="checkUit" class="col-form-label">Check-out:</label>
            <input type="text" class="form-control" id="checkUit" formControlName="checkUit" disabled>
          </div>
          <div class="form-group" *ngIf="tijdsregistratie.manCheckIn != null">
            <label for="manCheckIn" class="col-form-label">Manuele check-in:</label>
            <input type="text" class="form-control" id="manCheckIn" formControlName="manCheckIn" disabled>
          </div>
          <div class="form-group" *ngIf="tijdsregistratie.manCheckOut != null">
            <label for="manCheckUit" class="col-form-label">Manuele check-out:</label>
            <input type="text" class="form-control" id="manCheckUit" formControlName="manCheckUit" disabled>
          </div>
          <div class="form-group">
            <label for="adminCheckIn" class="col-form-label">Aangepaste check-in:</label>
            <input type="datetime-local" class="form-control" id="adminCheckIn" formControlName="adminCheckIn">
          </div>
          <div class="form-group">
            <label for="adminCheckUit" class="col-form-label">Aangepaste check-out:</label>
            <input type="datetime-local" class="form-control" id="adminCheckUit" formControlName="adminCheckUit">
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn pdf" data-dismiss="modal">Sluiten</a>
          <a (click)="updateTijdsregistratie()" data-dismiss="modal" class="btn btn-primary">Opslaan</a>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="createTijdsregistratieModal" tabindex="-1" role="dialog"
     aria-labelledby="tijdsregistratieModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Tijdsregistratie maken</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="tijdsregistratieForm" class="was-validated" novalidate>
        <div class="modal-body">

          <div class="form-group">
            <label for="vereniging" class="col-form-label">Vereniging:</label>
            <select name="vereniging" id="vereniging" class="form-control" formControlName="vereniging_id" required
                    (change)="changeVereniging()">
              <option *ngFor="let vereniging of verenigingen" [value]="vereniging.id">{{vereniging.naam}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="gebruiker" class="col-form-label">Lid:</label>
            <select name="gebruiker" id="gebruiker" class="form-control" formControlName="gebruiker_id" required>
              <option *ngFor="let gebruiker of verenigingLeden.gebruikers"
                      [value]="gebruiker.id">{{gebruiker.name}} {{gebruiker.voornaam}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="evenement" class="col-form-label">Evenement: </label>
            <select name="evenement" id="evenement" class="form-control" formControlName="evenement_id" required>
              <option *ngFor="let evenement of evenementen" [value]="evenement.id">{{evenement.naam}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="adminCheckIn" class="col-form-label">Aangepaste check-in:</label>
            <input type="datetime-local" class="form-control" id="adminCheckIn" formControlName="adminCheckIn">
          </div>
          <div class="form-group">
            <label for="adminCheckUit" class="col-form-label">Aangepaste check-out</label>
            <input type="datetime-local" class="form-control" id="adminCheckUit" formControlName="adminCheckUit">
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn pdf" data-dismiss="modal">Sluiten</a>
          <a (click)="createTijdsregistratie()" data-dismiss="modal" class="btn btn-primary">Opslaan</a>
        </div>
      </form>
    </div>
  </div>
</div>
