<div class="container mt-5">
  <div class='row d-flex align-content-center justify-content-center'>
    <div class='card pop col-lg-5 leden' [routerLink]="['/manageGebruikers']"
         routerLinkActive="router-link-active">
      Beheren gebruikers
    </div>
    <div class='card pop col-lg-5 evenementen' [routerLink]="['/manageEvenementen']"
         routerLinkActive="router-link-active">
      Beheren evenementen
    </div>
    <div class='card pop col-lg-5 vereniging' [routerLink]="['/manageVerenigingen']"
         routerLinkActive="router-link-active">
      Beheren verenigingen
    </div>
  </div>
</div>
