<div class="row mt-5 justify-content-center">
  <div class="container col-lg-8 col-md-8 col-sm-10">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="mt-3"><label>Naam:</label>Naam<br/></div>
        <div class="mt-3"><label>Voornaam:</label>Voornaam<br/></div>
        <div class="mt-3"><label>Roepnaam:</label>Roepnaam<br/></div>
        <div class="mt-3"><label>Vereniging:</label>Vereniging<br/></div>
        <div class="mt-3"><label>Postcode:</label>Postcode<br/></div>
        <div class="mt-3"><label>Straat:</label>Straat<br/></div>
        <div class="mt-3"><label>Huisnummer:</label>Huisnummer<br/></div>
        <div class="mt-3"><label>Geboortedatum:</label>Geboortedatum<br/></div>
        <div class="mt-3"><label>Email:</label>Email<br/></div>
        <div class="mt-3"><label>Telefoon:</label>Telefoon<br/></div>
        <div class="mt-3"><label>T-shirt maat:</label>T-shirt maat<br/></div>
        <div class="mt-3"><label>Lunchpakket:</label>Lunchpakket<br/></div>
        <div class="mt-3"><label>Geslacht:</label>Geslacht<br/></div>
        <div class="mt-3"><label>Rijksregisternummer:</label>Rijksregisternummer<br/></div>
        <div class="mt-3"><label>Opmerking:</label>Opmerking<br/></div>
        <div class="mt-3"><label>Verantwoordelijke:</label>Ja<br/></div>
        <div class="mt-3"><label>Actief:</label><br/>
          <input type="radio" name="active" value="active" checked="checked"> Actief<br>
          <input type="radio" name="active" value="inactive"> Inactief<br>
        </div>
        <button type="button" class="btn btn-primary">Bewerk</button>
        <button type="button" class="btn btn-danger" [routerLink]="['/manageGebruikers']">Terug</button>
      </div>
    </div>
  </div>
</div>
