<div class="container" *ngIf="pageLoaded">
    <div class="card">
        <div class="card-header">
            <h4>Detail gebruiker</h4>
        </div>
        <div class="card-body">
            <div class="row mt-5">
                <div class="col-12">
                    <form [formGroup]="gebruikerForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="name">Naam</label>
                                    <input class="form-control" type="text" id="name" name="name" formControlName="name"
                                           readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="voornaam">Voornaam</label>
                                    <input class="form-control" type="text" id="voornaam" name="voornaam"
                                           formControlName="voornaam"
                                           readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="roepnaam">Roepnaam</label>
                                    <input class="form-control" type="text" id="roepnaam" name="roepnaam"
                                           formControlName="roepnaam" readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="geboortedatum">Geboortedatum</label>
                                    <input class="form-control" type="text" id="geboortedatum" name="geboortedatum"
                                           formControlName="geboortedatum" readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="form-control" type="email" id="email" name="email"
                                           formControlName="email"
                                           readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="telefoon">Telefoon</label>
                                    <input class="form-control" type="text" id="telefoon" name="telefoon"
                                           formControlName="telefoon"
                                           readonly>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="opmerking">Opmerking</label>
                                    <input class="form-control" type="text" id="opmerking" name="opmerking"
                                           formControlName="opmerking"
                                           readonly>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="rol_id">Rol</label>
                                    <input class="form-control" type="text" id="rol_id" name="rol_id"
                                           formControlName="rol_id" readonly>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="rijksregisternr">Rijksregisternummer</label>
                                    <input class="form-control" type="text" id="rijksregisternr" name="rijksregisternr"
                                           formControlName="rijksregisternr"
                                           readonly>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="lunchpakket">Lunchpakket</label>
                                    <input class="form-control" type="text" id="lunchpakket" name="lunchpakket"
                                           formControlName="lunchpakket"
                                           readonly>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="actief">Actief</label>
                                    <input class="form-control" type="text" id="actief" name="actief"
                                           formControlName="actief"
                                           readonly>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="foto">Foto</label>
                                    <input class="form-control" type="text" id="foto" name="foto"
                                           formControlName="foto"
                                           readonly>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
