<form [formGroup]="verantwoordelijkeForm">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="naam">Naam</label>
        <input class="form-control" type="text" id="naam" name="naam" formControlName="naam" readonly>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="rekeningnr">Rekeningnummer</label>
        <input class="form-control" type="text" id="rekeningnr" name="rekeningnr" formControlName="rekeningnr"
               readonly>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="btwnr">BTW nummer</label>
        <input class="form-control" type="text" id="btwnr" name="btwnr" formControlName="btwnr" readonly>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="straat">Straat</label>
        <input class="form-control" type="text" id="straat" name="straat" formControlName="btwnr" readonly>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="huisnummer">Huisnummer</label>
        <input class="form-control" type="number" id="huisnummer" name="huisnummer"
               formControlName="huisnummer"
               readonly>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="gemeente">Gemeente</label>
        <input class="form-control" type="text" id="gemeente" name="gemeente" formControlName="gemeente"
               readonly>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <label for="postcode">Postcode</label>
        <input class="form-control" type="text" id="postcode" name="postcode" formControlName="postcode"
               readonly>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="contactpersoon">Contactpersoon</label>
        <input class="form-control" type="text" id="contactpersoon" name="contactpersoon"
               formControlName="contactpersoon" readonly>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="hoofdverantwoordelijke">Hoofdverantwoordelijke</label>
        <input class="form-control" type="text" id="hoofdverantwoordelijke" name="hoofdverantwoordelijke"
               formControlName="hoofdverantwoordelijke"
               readonly>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <label for="tweedeverantwoordelijke">Tweede verantwoordelijke</label>
        <input class="form-control" type="text" id="tweedeverantwoordelijke" name="tweedeverantwoordelijke"
               formControlName="tweedeverantwoordelijke"
               readonly>
      </div>
    </div>
  </div>
</form>
</div>
