<div class="container">
    <div class="card table-wrapper shadow-lg">
        <div class="card-header table-title">
            <h2>Welkom bij Keizer Karel Olen!</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                <p><b>Welkom op onze website.</b></p>
                    <p>Indien het uw eerste keer is dat u de website gebruikt, dan moet u uw vereniging inschrijven. Dit kan via de rechtste knop.</p>
                    <p>Gelieve alle verplichte gegevens in te vullen, daarna zal een bericht worden gestuurd naar de verantwoordelijken van Keizer Karel Olen.</p>
                    <p>Mits goedkeuring zal u ook een bericht ontvangen, waarna u kan inloggen op de website.</p>
                    <div><a class="btn detail-button float-left" [routerLink]="['/createvereniging']" routerLinkActive="router-link-active"><i class="fas fa-users"></i> Vereniging aanvragen</a>
                        <a class="btn btn-primary float-right" [routerLink]="['/login']" routerLinkActive="router-link-active"><i class="fas fa-sign-in-alt"></i> Inloggen</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
