.container {
  background-image:url('https://nnieuws.be/sites/default/files/gladiolen_2014_7571245782447863241_o.jpg');
  background-size: cover;
  margin: -120px 0 0 0;
  max-width: none;
  max-height: 100vh;
  display : flex;
  align-items : center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  a {
    width: 100%;
    margin-bottom: 10px;
  }
}
