<div class="container" style="background-image:url('https://nnieuws.be/sites/default/files/gladiolen_2014_7571245782447863241_o.jpg');max-width: 90%;height: 80%">
    <div class="card table-wrapper shadow-lg">
        <div class="card-header table-title">
            <h2>Welkom bij Keizer Karel Olen!</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div>Welkom op onze website. Hier kan u uw vereniging inschrijven of inloggen indien u reeds een account heeft.</div>
                    <div><button>Vereniging inschrijven</button><button>Inloggen</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
