<div class="container">
    <div class="card table-wrapper shadow-lg">
        <div class="card-header table-title">
            <h2>Bevestiging aanvraag</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p>Bedankt voor het aanvragen van een vereniging. De medewerkers van Keizer Karel Olen zullen zo snel mogelijk uw aanvraag behandelen.</p>
                    <p>U zal een mailtje krijgen met daarin verdere informatie.</p>
                </div>
            </div>
        </div>
    </div>
</div>
