<div class="row mt-5 justify-content-center">
  <div class="container col-lg-8 col-md-8 col-sm-10">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="mt-3"><strong>Naam:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Voornaam:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Roepnaam:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Postcode:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Straat:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Huisnummer:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Geboortedatum:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Email:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Telefoon:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>T-shirt maat:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Lunchpakket:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Geslacht:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Rijksregisternummer:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Opmerking:</strong>
          <input type="text" class="form-control">
        </div>
        <div class="mt-3"><strong>Verantwoordelijke:</strong>Ja<br/></div>
        <div class="mt-3"><strong>Actief:</strong><br/>
          <input type="radio" name="active" value="active"> Actief<br>
          <input type="radio" name="active" value="inactive"> Inactief<br>
        </div>
        <button type="button" class="btn btn-primary">Toevoegen</button>
        <a class="btn btn-danger" [routerLink]="['/manageGebruikers']">Terug</a>
      </div>
    </div>
  </div>
</div>
