<div class="menu-wrap">
  <input type="checkbox" class="toggler" [checked]="openMenu" (click)="menuClick()">
  <div class="hamburger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li *ngIf="!checkIfLoggedIn()" (click)="menuClick()" [routerLink]="['/login']" routerLinkActive="router-link-active" class="link">Inloggen</li>
          <li *ngIf="checkIfLoggedIn()" (click)="menuClick()" class="link" [routerLink]="['/vereniging/editvereniging']" routerLinkActive="router-link-active">Vereniging</li>
          <li *ngIf="checkIfLoggedIn()" (click)="menuClick()" class="link" [routerLink]="['/leden']" routerLinkActive="router-link-active">Leden</li>
          <li *ngIf="checkIfLoggedIn()" (click)="logOut()" class="link">Uitloggen</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
