<app-spinner *ngIf="!pageLoaded"></app-spinner>
<div class="container" *ngIf="pageLoaded">
  <div class="card">
    <div class="card-header">
      <h4>Voeg een lid toe!</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="lidForm" class="mt-5 was-validated" novalidate>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label for="naam">Naam</label>
              <input class="form-control" type="text" id="naam" name="naam" formControlName="name" required>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="roepnaam">Roepnaam</label>
              <input class="form-control" type="text" id="roepnaam" name="roepnaam" formControlName="roepnaam">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="voornaam">Voornaam</label>
              <input class="form-control" type="text" id="voornaam" name="voornaam" formControlName="voornaam" required>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="emailadres">Email</label>
              <input class="form-control" type="text" id="emailadres" name="emailadres" formControlName="email"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$">
              <div class="invalid-feedback">Gelieve een geldig e-mailadres in te vullen van het formaat test@test.be
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label for="telefoon">Telefoon</label>
              <input class="form-control" type="telefoon" id="telefoon" name="telefoon" formControlName="telefoon">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label for="geboortedatum">Geboortedatum</label>
              <input class="form-control" type="date" id="geboortedatum" name="geboortedatum"
                formControlName="geboortedatum">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="rijksregisternr">Rijksregister</label>
              <input class="form-control" type="text" id="rijksregisternr" name="rijksregisternr"
                formControlName="rijksregisternr" pattern="[0-9]{11}">
              <div class="invalid-feedback">Gelieve de 11 cijfers van je rijksregisternummer in te vullen.</div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="opmerking">Opmerking</label>
              <textarea class="form-control" type="text" id="opmerking" name="opmerking"
                formControlName="opmerking"></textarea>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="form-group">
              <label for="geslacht">Geslacht</label>
              <select name="geslacht" id="geslacht" class="form-control" [(ngModel)]="geslacht" [ngModelOptions]="{standalone: true}">
                <option value="Man">Man</option>
                <option value="Vrouw">Vrouw</option>
              </select>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="form-group">
              <label for="tshirt">Tshirt - Maat</label>
              <select name="tshirt" id="tshirt" class="form-control" [(ngModel)]="maat" [ngModelOptions]="{standalone: true}">
                <option value="XS">XS</option>
                <option value="S">S</option>
              </select>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="form-group paddingcheck text-center">
              <div class="pretty p-default p-switch" (click)="changeLunch()">
                <input type="checkbox" [checked]="this.lidForm.get('lunchpakket').value"/>
                <div class="state p-primary">
                  <label>Lunchpakket</label>
                </div>
              </div>
            </div>
          </div>
          <button *ngIf="!updateGebruiker" class="btn btn-primary ml-3" (click)="createLid()">Voeg lid toe</button>
          <button *ngIf="updateGebruiker" class="btn btn-primary ml-3" (click)="updateLid()">Update lid</button>
        </div>
      </form>
    </div>
  </div>
</div>
