<app-spinner *ngIf="!pageLoaded"></app-spinner>
<div class="container" *ngIf="pageLoaded">
  <form [formGroup]="lidForm" class="mt-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label for="naam">Naam</label>
          <input class="form-control" type="text" id="naam" name="naam" formControlName="naam">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="roepnaam">Roepnaam</label>
          <input class="form-control" type="text" id="roepnaam" name="roepnaam" formControlName="roepnaam">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="voornaam">Voornaam</label>
          <input class="form-control" type="text" id="voornaam" name="voornaam" formControlName="voornaam">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="straat">Straat</label>
          <input class="form-control" type="text" id="straat" name="straat" formControlName="straat">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for="huisnummer">Huisnummer</label>
          <input class="form-control" type="text" id="huisnummer" name="huisnummer" formControlName="huisnummer">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for="postcode">Postcode</label>
          <input class="form-control" type="text" id="postcode" name="postcode" formControlName="postcode">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="emailadres">Email</label>
          <input class="form-control" type="text" id="emailadres" name="emailadres" formControlName="emailadres">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for="telefoon">Telefoon</label>
          <input class="form-control" type="telefoon" id="telefoon" name="telefoon" formControlName="telefoon">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for="geboortedatum">Geboortedatum</label>
          <input class="form-control" type="date" id="geboortedatum" name="geboortedatum"
            formControlName="geboortedatum">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="rijksregisternr">Rijksregister</label>
          <input class="form-control" type="text" id="rijksregisternr" name="rijksregisternr"
            formControlName="rijksregisternr">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="opmerking">Opmerking</label>
          <textarea class="form-control" type="text" id="opmerking" name="opmerking"
            formControlName="opmerking"></textarea>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="tshirt">Tshirt</label>
          <select name="tshirt" id="tshirt" class="form-control" formControlName="tshirt_id">
            <option *ngFor="let tshirt of tshirts" [value]="tshirt.id">{{tshirt.maat}} - {{tshirt.geslacht}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group paddingcheck text-center">
          <div class="pretty p-default p-switch" (click)="changeTshirt()">
            <input type="checkbox" [checked]="lidForm.get('tweedetshirt').value"/>
            <div class="state p-primary" >
              <label>Extra shirt</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group paddingcheck text-center">
          <div class="pretty p-default p-switch" (click)="changeLunch()">
            <input type="checkbox" [checked]="lidForm.get('lunchpakket').value"/>
            <div class="state p-primary">
              <label>Lunchpakket</label>
            </div>
          </div>
        </div>
      </div>
      <button *ngIf="!updateGebruiker" class="btn btn-primary ml-3" (click)="createLid()">Voeg lid toe</button>
      <button *ngIf="updateGebruiker" class="btn btn-primary ml-3" (click)="updateLid()">Update lid</button>  
    </div>
  </form>
</div>
