<div class="container">
    <form [formGroup]="evenementForm" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="naam">Naam</label>
                    <input class="form-control" type="text" id="naam" formControlName="naam" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="startdatum">Startdatum</label>
                    <input class="form-control" type="text" id="startdatum" name="startdatum" formControlName="startdatum">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="einddatum">Einddatum</label>
                    <input class="form-control" type="text" id="einddatum" name="einddatum" formControlName="einddatum" >
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group paddingcheck text-center">
                <div class="pretty p-default p-switch" (click)="changeActief()">
                    <input type="checkbox" />
                    <div class="state p-primary">
                        <label>Actief</label>
                    </div>
                </div>
            </div>
        </div>
        <input value="Aanpassen" type="submit" class="btn btn-primary" >
        <input value="Terug" type="submit" [routerLink]="['/manageEvenementen']" class="btn btn-primary" >
    </form>
</div>
