/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/bootstrap/scss/bootstrap";
//@import "./../node_modules/shards-ui/src/scss/shards.scss";
@import '../node_modules/ngx-toastr/toastr';
@import '../node_modules/handsontable/dist/handsontable.full.css';

@font-face {
  font-family: CircularStd;
  src: url(assets/CircularStd-Book.woff);
}

@font-face {
  font-family: CircularStd;
  src: url(assets/CircularStd-Bold.woff);
  font-weight: bold;
}

body {
  margin: 120px 0 0 0;
  font-family: CircularStd, sans-serif;
}

html, body {
  height: 100vh;
}

.btn-primary {
  background-color: #0c225d !important;
}

.container {
  height: 100vh;
}

.link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s;
}

.link:hover::after {
  width: 100%;
}

h4 {
  color: white;
  float: right;
}

.card-header {
  background-color: #4285F4;
}

.card {
  border: none;
}

a {
  cursor: pointer;
}

.handsontable {
  z-index: 0;
  th {
    background-color: white;
    color: #0c225d;
  }
  tr td a {
    z-index: 50;
  }
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 7px;
}
.table-title {
  background: #0c225d;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 7px 7px 0px 0px !important;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn-group {
  float: right;
}

.table-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 3px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table th{
  color: #566787;
}
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th:last-child {
  width: 100px;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}
table.table td a:hover {
  color: #217fff;
}

a.add-button {
  color: white;
  background-color: #329B72;
}
a.excel {
  background-color: #1d6f42;
}
a.pdf {
  color: white;
  background-color: #ff2121;
}
a.edit-button {
  color: white;
  background-color: #ffa821;
}

table.table td a.detail {
  color: #217fff;
}
table.table td a.edit {
  color: #ffa821;
}
table.table td a.delete {
  color: #ff2121;
}

table.table td i {
  font-size: 19px;
}

table.table th.acties {
  width: 130px;
}

pagination-controls {
  text-align: center;
}

.ngx-pagination {
  padding-left: 0px !important;
}

pagination-controls,
.btn-info {
  background: #0c225d !important;
}

.ngx-pagination .current {
  background: #0c225d !important;
}

.ngx-pagination .current:hover {
  background: #0c225d !important;
}

.pretty.p-switch input:checked~.state.p-primary:before {
  border-color: #0c225d !important;
}

.pretty input:checked~.state.p-primary label:after, .pretty.p-toggle .state.p-primary label:after {
  background-color: #0c225d !important;
}
